<%- include('components/header', {tabTitle:'Lista de mascotas', extraCss:['/css/card.css','/css/cardList.css','/css/bar.css']});%>   
<%- include('components/bar');%>    
<%- include('components/listCards', {arrayPets:arrayPets});%> 
   
</body>
</html>