<%- include('components/header', {tabTitle:"Lista de mascotas", extraCss:extraCss});%>   
<%- include('components/navBar', {currentPage:"/lista-mascotas"});%>    

<% if(arrayPets.length > 0) {%>    
    <div class="container-sm pb-5 pt-5">
        <div class="row row gy-5 row gx-5">

            <% arrayPets.map((pet) => {%>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center" >    
                <%- include('components/card', {pet:pet});%>
                </div>
            <%}) %>            

        </div>
    </div>    
<% } else {%>
    <div class='empty-list'>
        <div>
            <h1>No hay mascotas registradas</h1>            
        </div>
    </div>
<% } %>

<%- include('components/endsBody');%>    
